

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    color:black;
    background-color: rgb(238, 247, 247);
    font-family: Helvetica, Arial, sans-serif;
}
  
header, footer {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
}

header h1 {
    color: white;
    font-size: 20px;
}

header a {
    color: white;
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    flex-wrap: wrap;
}
  
aside {
  flex: 1;
  background-color: rgb(121, 74, 204);
  padding: 80px;
  text-align: center;
}


.hero {
    padding: 120px 135px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/WB nightlife.jpeg");
    background-size: cover;
    background-position: 60%;
}

.hero-text h2 {
    color: white;
    font-style: italic;
    font-size: 14px;
    float: right;
}

.projects {
    flex: 4;
    background-color: rgb(238, 247, 247);
    padding: 10px;
    /* display: inline-block; */
    flex-wrap: wrap;
    justify-content: center;
}
  
/* .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
} */
/* .card header {
    padding: 5px;
} */
 
.card img {
    width: 100%;
    border-radius: 15px;
    width: 400px;
    height: 220px;
    border: 3px solid rgba(226, 136, 40, 0.669);  
}

address {
    color: white;
    font-size: 12px;
}