

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    color:black;
    background-color: rgb(238, 247, 247);
    font-family: Helvetica, Arial, sans-serif;
}
  
header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    border-bottom: 2px rgb(238, 247, 247) solid;
}

header h1 {
    color: white;
    font-size: 20px;
}

header a {
    color: white;
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: rgba(246, 162, 18, 0.865);
    color: white;
    border-radius: 10px;
    text-shadow: none;
}

footer {
    background-color: black;
    padding: 10px;
    
}

aside {
    width: 25%;
    background-color: rgba(246, 185, 127, 0.962);
    padding: 20px;
}
main {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.hero {
    padding: 120px 135px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/WB nightlife.jpeg");
    background-size: cover;
    background-position: 60%;
}

.hero-text h2 {
    color: white;
    font-style: italic;
    font-size: 14px;
    position: flex;        
}

.projects {
    flex: 20%;
    background-color: rgb(238, 247, 247);
    padding: 5px;
}
  
.large-card img {
    width: 100%;
    border-radius: 15px;
    width: 300px;
    height: 200px;
    border: 3px solid rgba(226, 136, 40, 0.669);  
}
.card img {
    width: 100%;
    border-radius: 15px;
    width: 225px;
    height: 120px;
    border: 3px solid rgba(226, 136, 40, 0.669);  
}

.brighten img {
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.brighten img:hover {
    -webkit-filter: brightness(130%);
    }

address, #contact-me {
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}